MAIL_USERNAME="<EMAIL_ID>"
MAIL_PASSWORD="<GENERATED_PASSWORD_WITHOUT_SPACES>"
SIMPLE_LOGIN_USERNAME="<SIMPLE_LOGIN_USERNAME>"
SIMPLE_LOGIN_PASSWORD="<SIMPLE_LOGIN_PASSWORD>"
TESTING_VARIABLE="test-passed"