{{!-- email_promotion.handlebars --}}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{subject}}</title>
</head>
<body>
  <h2>Hello {{name}}! </h2>
  <p>We're happy to inform you a new promotion is active!</p>
  <p>{{message}}</p>  
  <br>
  <p>FadeFactory</p>
</body>
</html>